body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  background: #fff;
  color: #333;
}
#menu { float: right; margin-top: 30px; margin-right: 20px; text-align: right; width: 150px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
#menu .title { display: block; margin-bottom: 0.6em; color: #000; text-decoration: none; }
#menu ul { list-style: none; margin: 0; padding: 0; }
#menu li a { color: #0864c7; text-decoration: none; }
#menu li a.here, #menu li a:hover { text-decoration: underline; }
#left { float: left; width: 200px; height: 1px; }
#content { margin-top: 30px; float: left; width: 500px; padding-bottom: 4em; }
#content h2, #content h3 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; }
#content h2 { margin-top: 2em; font-size: 16px; }
#content a { color: #0864c7; }
#content p, #content ul { color: #333; line-height: 18px; }
#content li { margin-bottom: 0.7em; }
#content img.portrait { height: 130px; display: block; margin-bottom: 1em; }
